In [ ]:
Introduction to list datatype :

In [ ]:
Defination : A list is a collection of items declared in a particular order.
    
Classification : It is classified as a mutable datatype    
    
How to define / declare a list ...? ===> []

In [1]:
Students = ['naveen','abdul','imran','joseph','keerthi','shaheen','dolly','navya']

In [3]:
print(Students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [4]:
type(Students)

list

In [ ]:
1. how to access the above elements in the list...?

In [ ]:
# req : i want to access abdul name from the above list, how to do that...?

In [ ]:
Introduction to indexing : 0,1,2,3,4.....

In [5]:
print(Students[1])

abdul

In [ ]:
# req : i want to access keerthi name from the above list, how to do that...?

In [6]:
print(Students[4])

keerthi

In [ ]:
1. How to add new elements to the list

2. How to modify the elements in the list

3. How to delete the elements from the above list...?

In [7]:
print(Students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya']

In [ ]:
# req : i want to add kumar name to the above list, how to do that...?

In [8]:
Students.append('kumar')

In [9]:
print(Students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [ ]:
# req : i want to add riddhi name to the above list, how to do that...?

In [11]:
Students.append('riddhi')

In [12]:
print(Students)

['naveen', 'abdul', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'riddhi']

In [ ]:
# req : i want to add yamini name to the above list in the 2nd position , how to do that...?

In [13]:
Students.insert(2,'yamini')

In [14]:
print(Students)

['naveen', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'riddhi']

In [15]:
print(Students[2])

yamini

In [ ]:
Interview Question : what is the difference between append and insert method in the list...?

In [16]:
print(Students)

['naveen', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'riddhi']

In [ ]:
# req : i want to modify naveen name to navya...?

In [17]:
print(Students[0])

naveen

In [18]:
Students[0]= 'navya'

In [19]:
print(Students)

['navya', 'abdul', 'yamini', 'imran', 'joseph', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'riddhi']

In [ ]:
# req : i want to delete joseph from the above list...?

In [20]:
del Students[4] # permamently deleting the things.

In [21]:
print(Students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'riddhi']

In [ ]:
# temparery deletion ...?

In [ ]:
pop ---> it is used to delete the things temp ===> it will be carbon copy of the deleted items and stores in a variable
         that is assigned to it.

pop ---> by default will delete the last element in the list.

In [22]:
print(Students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar', 'riddhi']

In [23]:
x = Students.pop()

In [24]:
print(Students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [25]:
print(x)

riddhi

In [26]:
print(Students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'navya', 'kumar']

In [27]:
del Students[7]

In [28]:
print(Students)

['navya', 'abdul', 'yamini', 'imran', 'keerthi', 'shaheen', 'dolly', 'kumar']