In [ ]:
Continuation with list datatype.

In [ ]:
Organizing the list datatype :

In [1]:
cars = ['kia','suzuki','audi','benz','tata','bmw']

In [2]:
print(cars)

['kia', 'suzuki', 'audi', 'benz', 'tata', 'bmw']

In [ ]:
# req : i want to display the list in alphabetical order...? A-Z

In [ ]:
1. temp approach ===> changes are applied temp ===> sorted

2. permanent approach ===> changes are applied permanently ===>  sort

In [3]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'kia', 'suzuki', 'tata']

In [4]:
print(cars) # it is giving me the original order ...!

['kia', 'suzuki', 'audi', 'benz', 'tata', 'bmw']

In [5]:
cars.sort()

In [6]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'suzuki', 'tata']

In [7]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'suzuki', 'tata']

In [ ]:
# interview : what is the difference between sorted and sort method in a list datatype? can u please explain ?

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'suzuki', 'tata']

In [ ]:
# i want to print the list in the reverse order...?

In [9]:
cars.reverse()

In [10]:
print(cars)

['tata', 'suzuki', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
# req : i want to count the number of elements in the list ...?

In [11]:
len(cars)

6

In [ ]:
Introduction to slicing :

In [12]:
students = ['ravi','joseph','naveed','imran','keerthi','shaheen','dolly','roohi'] #0,1,2,3,4,5,6,7

In [13]:
print(students)

['ravi', 'joseph', 'naveed', 'imran', 'keerthi', 'shaheen', 'dolly', 'roohi']

In [14]:
type(students)

list

In [ ]:
General syntax of slicing :

In [ ]:
list[startvalue:stopvalue:stepcount]

Note : stop value is always exclusive , to include the stop value have to increase the index by +1.

In [ ]:
 #req : i want to include ravi and joseph in the list.

In [15]:
print(students[0:1])

['ravi']

In [16]:
print(students[0:2])

['ravi', 'joseph']

In [17]:
print(students[0:4])

['ravi', 'joseph', 'naveed', 'imran']

In [ ]:
# req 2: naveed and imran

In [18]:
print(students[2:4]) # original index of imran is 3 but for this we do +1 therefore it becomes 4

['naveed', 'imran']

In [ ]:
# req 3 : dolly and roohi

In [19]:
print(students[6:8])

['dolly', 'roohi']

In [20]:
print(students)

['ravi', 'joseph', 'naveed', 'imran', 'keerthi', 'shaheen', 'dolly', 'roohi']

In [ ]:
# req : alternate student name

In [21]:
print(students[0:7:2])

['ravi', 'naveed', 'keerthi', 'dolly']

In [22]:
print(students[0:7:3])

['ravi', 'imran', 'dolly']

In [23]:
print(students[0:7:4])

['ravi', 'keerthi']

In [24]:
print(students[0:7:6])

['ravi', 'dolly']

In [25]:
print(students[0:7:7])

['ravi']

In [26]:
print(students[0:7:1]) # as we have given stopvalue as 7 it is only counting till dolly as dolly= 6+1= 7 for stopvalue 
                          we consider index as +1 so as to take roohi we have to give stopvalue as 8

['ravi', 'joseph', 'naveed', 'imran', 'keerthi', 'shaheen', 'dolly']

In [27]:
print(students[0:8:2])

['ravi', 'naveed', 'keerthi', 'dolly']

In [28]:
print(students[0:8:7])

['ravi', 'roohi']